{% extends 'base.html.twig' %}

{% block title %}Mon compte{% endblock %}

{% block body %}
{% if app.user %}
    <h1>Bonjour M/Mme {{ app.user.firstname }}</h1>
{% endif %}
<ul>
    <li><a href="#">Modifier profil</a></li>
    <li><a href="{{ path('adresse') }}">Gérer mes adresses</a></li>
    <li>Historique</li>
</ul>

{% endblock %}
