{% extends 'base.html.twig' %}

{% block title %}Mon Compte{% endblock %}

{% block body %}
    <section class="container-fluid bg-danger bg-gradient text-black">
        <div class="row" >
            <div class="col">
                <ul>
                    <li><a class="link-warning link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" href="{{ path('app_login') }}">Me connecter</a></li>
                    <li><a class="link-warning link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" href="{{ path('adresse') }}">Modifier mon adresse</a></li>
                    <li></li>
                </ul>
            </div>
        </div>
    </section>
{% endblock %}
