{% extends 'base.html.twig' %}

{% block title %}Update compte{% endblock %}

{% block body %}
    {% if notif %}
        <div class="alert alert-info">
            {{ notif }}
        </div>
    {% endif %}
    <div class="row">
        <div class="col-md-4">
        </div>
        <div class="col-md-4">
            {{ form(formUpdate) }}
        </div>
        <div class="col-md-4">
        </div>
    </div>
{% endblock %}
