{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
   <section class="container-fluid bg-info bg-gradient">
        <div class="row">
            <div class="col">
                <form method="get"class="bg-danger bg-gradient w-100">
                <h1>Inscription</h1>
                
                </form>
            </div>
        </div>
   </section>
{{form(formInscription)}}
{% endblock %}
