<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <link rel="icon" href="public/assets/images/burger-solid.svg">
        <title>{% block title %}Papa's Burgeria{% endblock %}</title>
        <!-- Lien font-awesome -->
        <script src="https://kit.fontawesome.com/aaf4e1a044.js" crossorigin="anonymous"></script>
        <!-- feuille de style -->
        <link rel="stylesheet" href="{{ asset('css/style.css') }}">
         <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
        {% block stylesheets %}{% endblock %}
        <!-- Partie JavaScript -->
        <script src="{{ asset('js/scrip.js') }}"></script>
        {% block javascripts %}{% endblock %}
    </head>
    <body class="">
    {% block menu %}
        <nav class="navbar navbar-expand-lg bg-dark-subtle bg-gradient shadow p-3 mb-5 bg-body-tertiary rounded bg-opacity-25">
            <div class="container-fluid">
                <a class="navbar-brand" href="{{ path('app_delicious') }}"><i class="fa-solid fa-burger fa-bounce fa-2xl" style="color:#df0c0c"></i></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">Accueil</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Link</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Dropdown
                            </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Action</a></li>
                            <li><a class="dropdown-item" href="#">Another action</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                        </ul>
                        </li>
                    </ul>
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-brand text-center">
                            <h1 class="">Papa's Burgeria<h1>
                        </li>
                    </ul>
                   <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item mb-1">
                            <button type="button" class="btn btn-outline-info btn-sm rounded">
                                <a class="nav-link" href="{{ path('compte') }}">Mon compte</a>
                            </button>
                        </li>
                        <li class="nav-item">
                            <button type="button" class="btn btn-outline-danger btn-sm rounded">
                                <a class="nav-link" href="#"><i class="fa-solid fa-cart-shopping" style="color: #f50000;"></i></a>
                            </button>
                        </li>
                        
                   </ul>
                </div>
            </div>
        </nav>
    {% endblock %}
    {% block body %}{% endblock %}
        <footer>
            <section class="container-fluid bg-black bg-gradient text-center text-white">
                <div class="row">
                    <div class="col">
                        <p>&copyCopyright Filrouge 2023</p>
                    </div>
                </div>
            </section>
        </footer
    </body>
</html>
